{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} - Draw{% endblock %}

{% block body_block %}

    <div class="page-header">
        {% if user.is_authenticated %}

          <h1>Hello {{ user.username }}!</h1>

        {% endif %}
          <h2>Draw a Movie Poster</h2>
    </div>

    <form id="drawing_form" method="post" action="{% url 'add_drawing' %}" hidden="" name="drawing_form">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      {% for field in form.visible_fields %}
      {{ field.errors }}
      {{ field.help_text }}
      {{ field }}
      {% endfor %}
      <input type="submit" id="confirm_drawing" name="submit" value="Create drawing" />
    </form>

    <div class="drawing_board">
      <div class="board" id="test_board">
      </div>
        <br /><br />

    <div class="movie-stuff">
      <input type="text" id="film_search" maxlength="50" /> <input type="submit" id=
      "submit_search" value="Find Film"/>
      <select id="options" hidden=""></select>
      <button id="finalise">Submit</button>
    </div>
      <div id="submit_error" hidden>Search for a film before submitting</div>
    </div>

  {% endblock %}
